@tailwind base;
@tailwind components;
@tailwind utilities;

.active:link,
.active:visited {
    @apply bg-picton-blue-100 text-mako-grey-800;
    svg {
        @apply text-mako-grey-600;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* transition:
        background-color 0.3s,
        border 0.3s; */
}

html {
    font-size: 62.5%;
    @media (max-width: 1400px) {
        font-size: 56.25%;
    }
    @media (max-width: 768px) {
        font-size: 50%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    color: #242528;
    /* min-height: 100vh; */
    line-height: 1.5;
    font-size: 1.6rem;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    transition: all 0.3s border 0s;
    cursor: pointer;
}

*:disabled {
    cursor: not-allowed;
}

select:disabled,
input:disabled {
    background-color: #cdd0d4;
    color: #656d75;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: 2px solid #15a1e2;
    outline-offset: -1px;
}

/* Parent selector, finally 😃 */
button:has(svg) {
    line-height: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

img {
    max-width: 100%;

    /* filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity)); */
}

/* --backdrop-color: rgba(0, 0, 0, 0.3);

--shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
--shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.3);
--shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.4);

--image-grayscale: 10%;
--image-opacity: 90%; */
